@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

.row {
    display: flex;
}

.tile {
    width: 25px;
    height: 25px;
    border-radius: 0px;
    font-weight: 700;
    font-family: 'Teko', monospace;
    font-size: large;
}

.tile:disabled {
    background-color: aliceblue;
    color: black;
}

.one {
    color: blue;
}
